.avito_homepage-components-header__header--background {
    background-image: url("../img/bg01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.avito_homepage-components-header__nav-dropdown-button--color {
    background-color: #191923 !important;
}

.avito_homepage-components-header__session-dropdown-button--color {
    background-color: #191923 !important;
}

.avito_homepage-components-header__session-dropdown-logout-button--color {
    background-color: #191923 !important;
}

.avito_homepage-components-header__header-container--padding-bottom {
    padding-bottom: 20vh;
}

.avito_general-component-logo__size {
    max-width: 250px;
}

